:root {
  --emoji-size: min(40vh, 20vw);
  --title-size: min(15vh, 10vw);
  --icon-size: calc(var(--text-size) * 3);
  --text-size: clamp(15px, 2.5vh, 3vw);
  --primary-color: #f090a1;
  --secondary-color: #ffeb99;
  --background-color: #e9f5db;
  --on-background-color: #cfe1b9;
  --container-border-color: #b5c99a;
  --text-color: rgb(75, 100, 39);
  --padding-small: 2vw;
  --padding-large: min(5vw);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ea5f73;
    --on-background-color: #556340;
    --background-color: #39422b;
    --container-border-color: #2b3221;
    --text-color: #cfe1b9;
  }
}

@media (max-width: 768px) {
  .main-row {
    flex-direction: column !important;
  }
}

* {
  font-family: "Monsterrat", sans-serif;
  font-style: normal;
  user-select: none;
  text-decoration: none !important;
  width: fit-content;
  height: min-content;
}
html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-row {
  flex-direction: row;
}

.josefin-sans {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
}
.row {
  display: flex;
  align-items: center;
  flex-direction: row !important;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.border {
  background-color: var(--on-background-color);
  border: 5px solid var(--container-border-color);
  border-radius: min(3vh, 3vw);
}

.space-around {
  justify-content: space-around !important;
}

.icon {
  font-size: calc(var(--icon-size) * 0.9);
  padding: 2vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  justify-content: space-evenly;
  padding-left: 8vw;
  padding-right: 8vw;
  margin: 4vh;
}

h1 {
  text-align: center;
  font-size: var(--title-size);
  line-height: 1;
  color: var(--text-color);
  transition: color 0.3s;
}

h1:hover {
  color: var(--secondary-color) !important;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
  align-items: center;
}

.app {
  padding: var(--padding-small);
  color: var(--text-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  border-radius: 20px;
}

.app:hover {
  color: whitesmoke;
  background-color: var(--primary-color);
  margin: clamp(5px, 2vh, 3vw);
}

.material-symbols-rounded {
  padding: 1vh;
  font-size: var(--icon-size);
}

.app div {
  text-align: center;
  font-size: var(--text-size);
  line-height: 1;
}

.spacer {
  width: 80px;
}

.divider {
  height: 5vw;
  width: 0.2vw;
  background-color: var(--container-border-color);
  border-radius: 40px;
}

.flower {
  margin-top: 30px;
  margin-bottom: 30px;
  height: var(--emoji-size);
  width: var(--emoji-size);
  transition: 1s;
}

.flower:hover {
  transform: rotate(180deg);
}
